<div class="container">
    <div class="title">
        <h1 id="experience">Experiencia Laboral</h1><br>
        <div class="add-exp">
            <button type="button" class="btn btn-dark" routerLink='/nuevaexp' *ngIf="isLogged">
            Nueva Experiencia
            </button>
        </div>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="list" *ngFor="let Experiencia of expe" cdkDrag>
            <div class="header">
                <div class="item-title">
                    <h2 style="margin-bottom: 8px">{{Experiencia.nombreE}}</h2>
                </div>
                <div class="time-period">
                    {{Experiencia.inicio}} - {{Experiencia.fin}}
                </div>  
            </div>
            <div class="description">
                <p>{{Experiencia.descripcionE}}</p>
            </div>
            <div class="buttons">    
                <button class="changes" *ngIf="isLogged" routerLink='/editexp/{{Experiencia.id}}'><i class="bi bi-pencil-square" style="color:#e8e8e8"></i><span style="color:#e8e8e8"> Editar</span></button>        
                <button  class="changes" *ngIf="isLogged" (click)="delete(Experiencia.id)"><i class="bi bi-trash" style="color:#e8e8e8"></i><span style="color:#e8e8e8"> Eliminar</span></button>
            </div>
            <hr>
        </div>
    </div>
</div>

