.header {
    background-color: #232F3E;
    display: flex;
    border-bottom: 1px solid black
}

.section-1 {
    width: 20%;
    display: flex;
    align-items: center;
    margin: auto 1rem;
}

.img-logo {
    width: 9rem;
}

.text {
    color: white;
    font-size: 1rem;
}

.section-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navbar-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

a.nav-link {
    color: white;
    font-weight: 500;
    align-items: center;
}

.nav-item {
    height: 100%;
    margin: 0 2rem;
}

a.nav-link:hover {
    color: #0D658B;
}

.section-3 {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem;
    margin-left: 3rem;
}

.info {
    display: flex;
    flex-direction: row;
}

.icons {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

#icons {
    margin-left: 1rem;
    font-size: 0.5rem;
    align-items: center;
    display: flex;
}

.btn-login {
    border-radius: 0.5rem;
    background-color: #0D658B;
    border: transparent;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-left: 0.5rem;
    font-weight: 500;
    height: 3rem;
    justify-content: center;
    width: 10rem;

}

.btn-login:hover {
    background-color: #ffff;
    color: black;
}

.img-banner {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
}


