<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="formgroup">
                    <label for="nombreP">Nombre del proyecto</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="nombreP" required>
                </div>
                <div class="formgroup">
                    <label for="descripcionP">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionP" name="descripcionP" [(ngModel)]="descripcionP" required>
                </div>
                <button class="btn btn-primary">
                    Agregar proyecto
                </button>
                <button class="btn btn-primary" type="button" (click)="onCancel()">
                    Cerrar
                </button>
            </form>
        </div>
    </div>
</div>
