<div class="container">
    <div class="title">
        <h1 id="projects">Proyectos</h1><br>
        <button type="button" class="btn btn-dark" routerLink='/nuevoproject' *ngIf="isLogged">
            Nuevo Proyecto
        </button>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <div class="list" *ngFor="let Projects of projects" cdkDrag>
        <div class="item-title">
            <h2 style="margin-bottom: 8px">{{Projects.nombreP}}</h2>
        </div>    
        <div class="description">
            <p>
                {{Projects.descripcionP}}
            </p>
        </div>
        <div class="buttons">            
            <button class="changes" *ngIf="isLogged" routerLink='/editproject/{{Projects.id}}'><i class="bi bi-pencil-square" style="color:#e8e8e8"></i><span style="color:#e8e8e8"> Editar</span></button>
            <button class="changes" *ngIf="isLogged" (click)="delete(Projects.id)"><i class="bi bi-trash" style="color:#e8e8e8"></i><span style="color:#e8e8e8"> Eliminar</span></button>
        </div>
        <hr>
    </div>
</div>