.footer {
    margin-top: 2rem;
    background-color: #232F3E;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-tel{
    display: flex;
    padding: 0 20px;   
}

.contacto-mail{
    display: flex;
    padding: 0 20px;    
}

#id {
    font-size: 1rem;
}

h5 {
    color: white;
    font-weight: 500;
    padding: 0 20px;
}

.text {
    margin-left: 1rem;
    font-size: .8rem;
    color:white;
}

.info {
    background-color: #131A22;
    color: white;
    font-size: .7rem;
}