.header {
    background-color: rgb(22, 21, 21);
    display: flex;
}

.section-1 {
    width: 30%;
    display: flex;
    align-items: center;
}

.img-logo {
    width: 30%;
}

.text {
    color: white;
    font-size: 1vw;
}

.section-2 {
    width: 40%;
    display: flex;
    align-items: center;
}

.navbar-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
}

a.nav-link {
    color: white;
    font-weight: 500;
    align-items: center;
}

.nav-item {
    height: 100%;
}

a.nav-link:hover {
    color: #0D658B;
}

.section-3 {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: row;
}

.icons {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
}

#icons {
    margin-left: 1rem;
    font-size: 1.05rem;
    align-items: center;
}

i.bi:hover {
    color: #0D658B;
}

.btn-login {
    border-radius: 0.5rem;
    background-color: #0D658B;
    border: transparent;
    color: white;
    padding: 0.5rem 1.5rem;
    margin-left: 0.5rem;
    font-weight: 500;
    height: 2.5rem;

}

.btn-login:hover {
    background-color: #ffff;
    color: black;
}

.img-banner {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    display: flex;
}


