<div class="body">
    <form #f='ngForm' (ngSubmit)="onLogin()" novalidate>
    <img src="../../../assets/img/authentication.png" alt="login-img">
    <p class="text">Login</p>
    
    <mat-form-field class="ancho" appearance="fill">
        <mat-label for="nombreUsuario">Usuario</mat-label>
        <input matInput autocomplete="off" id="nombreusuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
        <mat-label for="password">Contraseña</mat-label>
        <input matInput type="password" autocomplete="off" id="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <button type="submit" class="btn btn-primary mt-5" [(ngModel)]="durationInSeconds" matInput>Iniciar Sesion</button>
    <button type="button" class="btn btn-light mt-3" routerLink="/home">Volver al Inicio</button>
    </form>
</div>
