<div class="container">
    <div class="row">
        <h1>Proyectos</h1>
        <div class="col-lg-11">
            <ul>
                <li>
                    <h1>Proyecto 1</h1>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi cupiditate maxime sed officiis dolorem autem repudiandae dicta? Dolor, laboriosam! Consequuntur, exercitationem? Eligendi, voluptas! A nobis aliquid molestiae consectetur vel similique!</p>
                </li>
            </ul>
        </div>
    </div>
</div>