<div class="container">
    <h1>Hard & Soft Skills</h1>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [title]="'Microsoft Office'"
            [showUnits]="false"
            [percent]="85"
            [showSubtitle]="false"
            [radius]="85"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#44FFAC'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [showSubtitle]="false"
            [radius]="85"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#44FFAC'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [showSubtitle]="false"
            [radius]="85"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#44FFAC'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [showSubtitle]="false"
            [radius]="85"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#44FFAC'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [showSubtitle]="false"
            [radius]="85"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#44FFAC'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="85"
            [showSubtitle]="false"
            [radius]="85"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#44FFAC'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
            ></circle-progress>
        </div>
    </div>
</div>