<div class="container">
    <div class="row">
        <h1>Formacion Academica</h1>
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" routerLink='/nuevaedu' *ngIf="isLogged">
                Nueva Formacion
            </button>
        </div>
        <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h2>{{Educacion.nombreEdu}}</h2></td>
                    <td>{{Educacion.inicio}} - {{Educacion.fin}}</td>
                    <td>{{Educacion.descripcionEdu}}</td>
                    <td *ngIf="isLogged">
                        <button routerLink='/editedu/{{Educacion.id}}'><i class="bi bi-pencil-square"></i> Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button (click)="delete(Educacion.id)"><i class="bi bi-trash"></i> Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>