.container {
    margin-top: 5rem;
}

h1 {
    width: 25%;
    font-family: Oswald, sans-serif;
    color: #33343d;  
}

.btn {
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0 0 0 0px rgba(82, 101, 143, 0.8);
    background-color: #14540d !important;
    transition: all 0.5s; 
    width: 10rem;
}

.btn:hover {
    box-shadow: 0 0 0 2px rgba(82, 101, 143, 0.8);
}

div.list { 
    margin-bottom: 2rem;
}

div.header { 
    display: flex;
    margin-bottom: 8px;
    height: 30px;
}

div.item-title{
    align-items: baseline;
    width: 90%;
    margin-bottom: 8px;
}

div.time-period {
    width: 10%;
    font-size: 1rem;
    font-weight:500;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    margin-bottom: 8px;
    
}

.description {
    margin-right: 3rem;
    padding: 10px;
}

div.buttons { 
    display: flex;
    justify-content: flex-end;
}

