<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="formgroup">
                    <label for="nombreEdu">Titulo</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu" required>
                </div>
                <div class="formgroup">
                    <label for="descripcionEdu">Descripcion</label>
                    <input type="text" class="form-control" id="descripcionEdu" name="descripcionEdu" [(ngModel)]="descripcionEdu" required>
                </div>
                <button class="btn btn-primary">
                    Agregar formacion
                </button>
            </form>
        </div>
    </div>
</div>
