<div class="footer">
    <h5 class="text-decoration-underline" id="contact">Contacto</h5>
    <div class="contacto-tel">    
        <i class="bi bi-telephone-inbound text-white" id="icon"></i><p class="text">+54 9 381-4650943</p>
        </div>
        <div class="contacto-mail">   
        <i class="bi bi-envelope text-white" id="icon"></i><p class="text"><a href="mailto:facundoross04@gmail.com" style="text-decoration:none; color:white">facundoross04@gmail.com</a></p>
        </div>
    </div>
<div>
    <div class="info">
        <p class="copyrigth">Facundo Ross | Argentina Programa 2022</p>
        <p class="copyrigth">Tucumán, Argentina</p>
    </div>
</div>