<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="formgroup">
                    <label for="title">Skill</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="skill.title" required>
                </div>
                <div class="formgroup">
                    <label for="percent">Descripcion</label>
                    <input type="text" class="form-control" id="percent" name="percent" [(ngModel)]="skill.percent" required>
                </div>
                <button class="btn btn-primary">
                    Guardar Cambios
                </button>
            </form>
        </div>
    </div>
</div>
