<div class="contenedor">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="formgroup">
            <label for="title">Skill</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="title" required autocomplete="off">
        </div>
        <div class="formgroup">
            <label for="percent">Progreso</label>
            <input type="number" class="form-control" id="percent" name="percent" [(ngModel)]="percent" required autocomplete="off">
        </div>
        <div class="formgroup">
            <label for="img">Imagen</label>
            <input type="text" class="form-control" id="img" name="img" [(ngModel)]="img" autocomplete="off">
        </div>
        <div class="buttons">
        <button class="btn btn-primary">
            Agregar skill
        </button>
        <button class="btn btn-danger" type="button" (click)="onCancel()">
            Cerrar
        </button>
        </div>
    </form>
</div>