<div class="row">
    <div class="body col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="img-fluid" id="profile-photo"
            [src]="getSanitizeUrl(persona.img)"
            alt="foto perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="profile-1">
        <h2 class="card-title mb-2">{{persona.nombre}} {{persona.apellido}}</h2>
        <h3 class="card-subtitle mb-1 text-muted">{{persona.titulo}}</h3>
    </div>
    <div class="card col-xs-12"  id="profile-2">
        <div class="header"  id="aboutme">
            <div class="title" style="width:100%">
                <h1 class="card-title">Sobre mi </h1>
            </div>
            <div class="button"> 
                <button  *ngIf="isLogged" class="changes" style="color:#e8e8e8" (click)="openPopup()"><i class="bi bi-pencil-square" style="color:#e8e8e8"></i><span> Editar</span>
                </button>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title">Editar Datos Personales</h1>
                    </div>
                    <div class="modal-body">
                        <form class="info-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" [(ngModel)]="persona.nombre" name="nombre" required autocomplete="off" autofocus="true">
                                </div>
                                <div class="col-md-6">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" [(ngModel)]="persona.apellido" name="apellido" required autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="title" class="form-label">Profesiones</label>
                                    <input type="text" class="form-control" id="title" [(ngModel)]="persona.titulo" name="titulo" required autocomplete="off">
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col-md-12">    
                                    <label for="foto" class="form-label">Foto de Perfil</label>
                                    <input type="text" class="form-control" id="foto" [(ngModel)]="persona.img"  name="img" accept=".png, .jpg, .jpeg">
                                </div>
                            </div>
                            <div class="row" id="descripcion">
                                <label class="form-label">Descripcion</label>
                                <textarea name="descripcion" [(ngModel)]="persona.descripcion" name="descripcion" required></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" (click)="onCancel()">
                        Cerrar
                        </button>
                        <button type="button" class="btn btn-dark" (click)="onUpdate()">
                        Guardar cambios
                        </button>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <p class="card-text" id="text-aboutme">{{persona.descripcion}}</p>        
        </div>
    </div>
</div>

    