<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img class="img-fluid" id="profile-photo" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="foto perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="profile-1">
        <h2 class="card-title mb-2">Facundo Ross</h2>
        <h3 class="card-subtitle mb-1 text-muted">Contador Publico</h3>
        <h3 class="card-subtitle mb-1 text-muted">Full Stack Developer Jr.</h3>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" id="profile-2">
        <h2 class="card-title">Sobre mi</h2>
        <button class="edit-btn" onclick="cambiar_parrafo()"><i class="bi bi-pencil-square"></i></button>
        <p class="card-text" id="text-aboutme">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet cupiditate distinctio beatae, labore impedit dicta ullam fugit consequatur est deleniti? Labore nesciunt qui quos perspiciatis quaerat consectetur omnis excepturi est?</p>
        <input id="edit-aboutme" type="text" style="display:none">
    </div>
</div>


